/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */


footer {
   background: #333;
   color: #eee;
   font-size: 11px;
   padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar-brand{
      padding: 0.5% 0%;
   }
  #uname{
   width: 40%;
  }
   #upass{
   width: 40%;
  }
   
   

#myCarousel {
   margin-top: 60px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
   background: url('../../images/pic4.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/pic2.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   
   .thumbnail .price {
      font-size: 14px;
   }
   
   .thumbnail .price sup {
      font-size: 10px;
   }
   
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   
   #myCarousel .item { height: 310px; }
   
   .carousel-caption {
      font-size: 16px;
   }
   
   .carousel-caption h4 {
      font-size: 22px;
   }
   
}

/* Large desktop */
@media (min-width: 1200px) {

   #myCarousel .item { height: 500px; }


}
*[role="form"] {
    max-width: 530px;
    padding: 80px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

#news{
   padding: 20px 10px;
}
.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
